[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
[submodule "project/components/ttn-esp32"]
	path = project/components/ttn-esp32
	url = git@github.com:manuelbl/ttn-esp32.git
