# put here your custom config value
menu "MyTanah Project Configurations"
config NPK_UART_PORT_NUM 
    int "UART port number"
    default 2
    help
    UART port number
	
config NPK_UART_RXD
    int "UART RXD pin number"
    default 16
    help
    UART RXD pin number

config NPK_UART_TXD
    int "UART TXD pin number"
    default 17
    help
    UART TXD pin number

config NPK_UART_RTS
    int "UART RTS pin number"
    default 7
    help
    UART RTS pin number

config NPK_UART_BAUD_RATE
    int "UART communication speed"
    default 4800 
    help
    UART Baud Rate bps

endmenu
